@import url(./outfit.css);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Outfit", sans-serif;

	transition:
		background-color var(--ant-motion-duration-slow) ease-in-out,
		color var(--ant-motion-duration-slow) ease-in-out;
}

*::-webkit-scrollbar {
    background: transparent;
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 8px;
}

html,
body,
#root {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#root {
	height: 100vh;
	width: 100%;
	position: relative;
}

#root:has(div.formbarHeader) {
	padding-top: 60px;
}

body {
	background-color: rgb(0, 0, 0);
	width: 100%;
	height: 100%;
	overflow: hidden;
}

ion-icon {
	height: 100%;
	aspect-ratio: 1;
}

ion-icon[size="large"] {
	height: 1.5rem;
	width: 1.5rem;
}

.centered-icon-btn {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	padding: 0 !important;
}

.centered-icon-btn ion-icon {
	margin: 0 !important;
}

.ant-progress-circle,
.ant-progress-circle-path {
	transition-duration: 1s !important;
}

.ant-statistic-content {
	display: flex;
}

.ant-statistic-content-prefix {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.ant-progress-circle {
	overflow: visible !important;
}
@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
		text-shadow: none;
	}
	50% {
		transform: translateY(-5px);
		text-shadow: 0 0 15px #1aa8d5;
	}
}

.bounce {
	display: inline-block;
	animation: bounce 1s infinite ease-in-out;
}

.bounce:nth-child(2) {
	animation-delay: 0.2s;
}
.bounce:nth-child(3) {
	animation-delay: 0.4s;
}
.bounce:nth-child(4) {
	animation-delay: 0.6s;
}
.bounce:nth-child(5) {
	animation-delay: 0.8s;
}
.bounce:nth-child(6) {
	animation-delay: 1s;
}
.bounce:nth-child(7) {
	animation-delay: 1.2s;
}

.border {
	--borderWidth: -4px;
	--borderColor: black;
	filter: drop-shadow(0px var(--borderWidth) 0px var(--borderColor))
		drop-shadow(var(--borderWidth) 0px 0px var(--borderColor))
		drop-shadow(0px calc(var(--borderWidth) * -1) 0px var(--borderColor))
		drop-shadow(calc(var(--borderWidth) * -1) 0px 0px var(--borderColor));
}

label.correctAnswer .ant-checkbox-inner {
	height: 100%;
	width: unset;
	aspect-ratio: 1;
	border-radius: 5px;
}

label.correctAnswer .ant-checkbox-inner::after {
	margin-left: 6px;
}

.ant-color-picker-trigger > .ant-color-picker-color-block,
.ant-color-picker-trigger > .ant-color-picker-color-block-inner {
	height: 100% !important;
	width: 100% !important;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animMenu .ant-menu-item {
    --delay: 0.05s;
}
.animMenu .ant-menu-item:nth-child(n) {
    opacity: 0;
    animation: appear 0.3s ease-in-out forwards calc((var(--n, 0)) * var(--delay));
}

.animMenu .ant-menu-item:nth-child(1) { --n: 0; }
.animMenu .ant-menu-item:nth-child(2) { --n: 1; }
.animMenu .ant-menu-item:nth-child(3) { --n: 2; }
.animMenu .ant-menu-item:nth-child(4) { --n: 3; }
.animMenu .ant-menu-item:nth-child(5) { --n: 4; }
.animMenu .ant-menu-item:nth-child(6) { --n: 5; }
.animMenu .ant-menu-item:nth-child(7) { --n: 6; }

@keyframes pogMeterBop {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes pogMeterWaveScroll {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}

.pogMeterWave {
	clip-path: polygon(100% 100%, 0% 100% , 0.00% 63.67%, 0.50% 61.06%, 1.00% 54.22%, 1.50% 45.78%, 2.00% 38.94%, 2.50% 36.33%, 3.00% 38.94%, 3.50% 45.78%, 4.00% 54.22%, 4.50% 61.06%, 5.00% 63.67%, 5.50% 61.06%, 6.00% 54.22%, 6.50% 45.78%, 7.00% 38.94%, 7.50% 36.33%, 8.00% 38.94%, 8.50% 45.78%, 9.00% 54.22%, 9.50% 61.06%, 10.00% 63.67%, 10.50% 61.06%, 11.00% 54.22%, 11.50% 45.78%, 12.00% 38.94%, 12.50% 36.33%, 13.00% 38.94%, 13.50% 45.78%, 14.00% 54.22%, 14.50% 61.06%, 15.00% 63.67%, 15.50% 61.06%, 16.00% 54.22%, 16.50% 45.78%, 17.00% 38.94%, 17.50% 36.33%, 18.00% 38.94%, 18.50% 45.78%, 19.00% 54.22%, 19.50% 61.06%, 20.00% 63.67%, 20.50% 61.06%, 21.00% 54.22%, 21.50% 45.78%, 22.00% 38.94%, 22.50% 36.33%, 23.00% 38.94%, 23.50% 45.78%, 24.00% 54.22%, 24.50% 61.06%, 25.00% 63.67%, 25.50% 61.06%, 26.00% 54.22%, 26.50% 45.78%, 27.00% 38.94%, 27.50% 36.33%, 28.00% 38.94%, 28.50% 45.78%, 29.00% 54.22%, 29.50% 61.06%, 30.00% 63.67%, 30.50% 61.06%, 31.00% 54.22%, 31.50% 45.78%, 32.00% 38.94%, 32.50% 36.33%, 33.00% 38.94%, 33.50% 45.78%, 34.00% 54.22%, 34.50% 61.06%, 35.00% 63.67%, 35.50% 61.06%, 36.00% 54.22%, 36.50% 45.78%, 37.00% 38.94%, 37.50% 36.33%, 38.00% 38.94%, 38.50% 45.78%, 39.00% 54.22%, 39.50% 61.06%, 40.00% 63.67%, 40.50% 61.06%, 41.00% 54.22%, 41.50% 45.78%, 42.00% 38.94%, 42.50% 36.33%, 43.00% 38.94%, 43.50% 45.78%, 44.00% 54.22%, 44.50% 61.06%, 45.00% 63.67%, 45.50% 61.06%, 46.00% 54.22%, 46.50% 45.78%, 47.00% 38.94%, 47.50% 36.33%, 48.00% 38.94%, 48.50% 45.78%, 49.00% 54.22%, 49.50% 61.06%, 50.00% 63.67%, 50.50% 61.06%, 51.00% 54.22%, 51.50% 45.78%, 52.00% 38.94%, 52.50% 36.33%, 53.00% 38.94%, 53.50% 45.78%, 54.00% 54.22%, 54.50% 61.06%, 55.00% 63.67%, 55.50% 61.06%, 56.00% 54.22%, 56.50% 45.78%, 57.00% 38.94%, 57.50% 36.33%, 58.00% 38.94%, 58.50% 45.78%, 59.00% 54.22%, 59.50% 61.06%, 60.00% 63.67%, 60.50% 61.06%, 61.00% 54.22%, 61.50% 45.78%, 62.00% 38.94%, 62.50% 36.33%, 63.00% 38.94%, 63.50% 45.78%, 64.00% 54.22%, 64.50% 61.06%, 65.00% 63.67%, 65.50% 61.06%, 66.00% 54.22%, 66.50% 45.78%, 67.00% 38.94%, 67.50% 36.33%, 68.00% 38.94%, 68.50% 45.78%, 69.00% 54.22%, 69.50% 61.06%, 70.00% 63.67%, 70.50% 61.06%, 71.00% 54.22%, 71.50% 45.78%, 72.00% 38.94%, 72.50% 36.33%, 73.00% 38.94%, 73.50% 45.78%, 74.00% 54.22%, 74.50% 61.06%, 75.00% 63.67%, 75.50% 61.06%, 76.00% 54.22%, 76.50% 45.78%, 77.00% 38.94%, 77.50% 36.33%, 78.00% 38.94%, 78.50% 45.78%, 79.00% 54.22%, 79.50% 61.06%, 80.00% 63.67%, 80.50% 61.06%, 81.00% 54.22%, 81.50% 45.78%, 82.00% 38.94%, 82.50% 36.33%, 83.00% 38.94%, 83.50% 45.78%, 84.00% 54.22%, 84.50% 61.06%, 85.00% 63.67%, 85.50% 61.06%, 86.00% 54.22%, 86.50% 45.78%, 87.00% 38.94%, 87.50% 36.33%, 88.00% 38.94%, 88.50% 45.78%, 89.00% 54.22%, 89.50% 61.06%, 90.00% 63.67%, 90.50% 61.06%, 91.00% 54.22%, 91.50% 45.78%, 92.00% 38.94%, 92.50% 36.33%, 93.00% 38.94%, 93.50% 45.78%, 94.00% 54.22%, 94.50% 61.06%, 95.00% 63.67%, 95.50% 61.06%, 96.00% 54.22%, 96.50% 45.78%, 97.00% 38.94%, 97.50% 36.33%, 98.00% 38.94%, 98.50% 45.78%, 99.00% 54.22%, 99.50% 61.06%, 100.00% 63.67%);
	width: 200%;
	animation: pogMeterWaveScroll 20s linear infinite;
	height: 50px;
	background: rgba(16, 142, 233, 0.5);
	top: -50px;
	position: absolute;
}